In [34]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [18]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")

In [19]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Mazamari,PE,2021-07-12 18:21:44,-11.3258,-74.5308,85.96,48,74,2.89
5,5,Natal,BR,2021-07-12 18:20:11,-5.7950,-35.2094,84.42,65,75,18.41
7,7,Ishigaki,JP,2021-07-12 18:21:45,24.3448,124.1572,84.11,76,16,12.37
11,11,Kapaa,US,2021-07-12 18:21:47,22.0752,-159.3190,80.58,83,75,1.01
18,18,Atuona,PF,2021-07-12 18:21:49,-9.8000,-139.0333,78.17,76,24,20.65
25,25,Miri,MY,2021-07-12 18:21:52,4.4148,114.0089,77.14,94,20,2.30
26,26,Hue,VN,2021-07-12 18:20:38,16.4667,107.6000,80.71,78,20,3.44
36,36,Butaritari,KI,2021-07-12 18:21:56,3.0707,172.7902,81.88,79,46,13.78
37,37,Bouza,NE,2021-07-12 18:21:56,14.4229,6.0428,84.24,57,89,14.81
42,42,Lazaro Cardenas,MX,2021-07-12 18:21:58,17.9583,-102.2000,86.02,65,99,3.40

In [25]:
preferred_cities_df.count()

City_ID       213
City          213
Country       213
Date          213
Lat           213
Lng           213
Max Temp      213
Humidity      213
Cloudiness    213
Wind Speed    213
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4          Mazamari      PE     85.96 -11.3258  -74.5308
5             Natal      BR     84.42  -5.7950  -35.2094
7          Ishigaki      JP     84.11  24.3448  124.1572
11            Kapaa      US     80.58  22.0752 -159.3190
18           Atuona      PF     78.17  -9.8000 -139.0333
25             Miri      MY     77.14   4.4148  114.0089
26              Hue      VN     80.71  16.4667  107.6000
36       Butaritari      KI     81.88   3.0707  172.7902
37            Bouza      NE     84.24  14.4229    6.0428
42  Lazaro Cardenas      MX     86.02  17.9583 -102.2000

In [28]:
hotel_results = hotels["results"][0]["name"]
hotel_results

'Posada Lilia'

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        pass

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Mazamari,PE,85.96,-11.3258,-74.5308,Hospedaje Ratto
5,Natal,BR,84.42,-5.7950,-35.2094,Villa Park Hotel | Natal
7,Ishigaki,JP,84.11,24.3448,124.1572,Hotel Peace Land Ishigakijima
11,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
18,Atuona,PF,78.17,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...
555,Tame,CO,86.13,6.4610,-71.7300,Hospedaje Santa Ana
556,Ajdabiya,LY,86.22,30.7554,20.2263,Almadina Hotel
557,Da Nang,VN,82.38,16.0678,108.2208,Sun River Hotel
559,Zhongxing,CN,79.23,33.7039,118.6792,New Century Grand Hotel Siyang
560,Celestun,MX,87.69,20.8667,-90.4000,Posada Lilia

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))