## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Dingle,PH,76.12,light rain,10.9995,122.6711,SEGAYA PROPERTY
1,3,Faanui,PF,79.61,broken clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
2,4,Hilo,US,83.62,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
3,10,Yinchuan,CN,79.86,broken clouds,38.4681,106.2731,JJ Inns - Yinchuan New Moon Square Branch
4,15,Kavaratti,IN,82.49,light rain,10.5669,72.6420,Hotels in Lakshadweep Islands
...,...,...,...,...,...,...,...,...
213,665,Loiza,PR,89.82,scattered clouds,18.4313,-65.8802,Malibu Beachfront
214,667,Mukdahan,TH,75.29,broken clouds,16.5833,104.5000,Ban Kham Phung
215,668,Iracoubo,GF,81.07,broken clouds,5.4802,-53.2011,Le Gîte d’Iracoubo
216,669,Cayenne,GF,82.09,broken clouds,4.9333,-52.3333,Hôtel Le Dronmi
217,674,Tonantins,BR,83.71,moderate rain,-2.8731,-67.8022,Hotel Rei Davi

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Saint Anthony")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Saint Anthony")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Garden City")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Saint-Michel-Des-Saints")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Nantucket")] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,37,Saint Anthony,US,83.8,clear sky,45.0205,-93.218,"Holiday Inn Express Roseville-St. Paul, an IHG..."

In [7]:
import numpy as np

In [8]:
start_array = vacation_start.to_numpy()[0]
lat = start_array[5]
lng = start_array[6]
start_tuple = (lat,lng)

end_array = vacation_end.to_numpy()[0]
lat_end = end_array[5]
lng_end = end_array[6]
end_tuple = (lat_end,lng_end)

stop1_array = vacation_stop1.to_numpy()[0]
lat_stop1 = stop1_array[5]
lng_stop1 = stop1_array[6]
stop1_tuple = (lat_stop1,lng_stop1)

stop2_array = vacation_stop2.to_numpy()[0]
lat_stop2 = stop2_array[5]
lng_stop2 = stop2_array[6]
stop2_tuple = (lat_stop2,lng_stop2)

stop3_array = vacation_stop3.to_numpy()[0]
lat_stop3 = stop3_array[5]
lng_stop3 = stop3_array[6]
stop3_tuple = (lat_stop3,lng_stop3)

In [9]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = start_tuple
end = end_tuple
stop1 = stop1_tuple
stop2 = stop2_tuple
stop3 = stop3_tuple

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
roadtrip_route = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(roadtrip_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,37,Saint Anthony,US,83.80,clear sky,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
1,177,Garden City,US,86.14,scattered clouds,42.3256,-83.3310,Quality Inn & Suites Banquet Center
2,198,Saint-Michel-Des-Saints,CA,80.94,overcast clouds,46.6834,-73.9159,Motel Du Mont trinity
3,273,Nantucket,US,87.62,mist,41.2835,-70.0995,Jared Coffin House

In [13]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))